#============================================
# Alatis Studio Content Management System
#--------------------------------------------
# Copyright (c) 2024 Korshunov Aleksey
#--------------------------------------------
# Данный код защищен авторскими правами
#============================================
RewriteEngine on

ErrorDocument 404 /?mod=pages&act=404

# каптча
RewriteRule ^image.php$ /system/class/captcha.php [L]

# страницы
RewriteRule ^pages/([^/]*)$ /?mod=pages&act=view&url=$1 [L]

# проекты
RewriteRule ^projects?$ /?mod=projects&act=view_all [L,QSA]
RewriteRule ^projects/([^/]*)$ /?mod=projects&act=view&url=$1 [L]