#============================================
# Alatis Studio Content Management System
#--------------------------------------------
# Copyright (c) 2024 Korshunov Aleksey
#--------------------------------------------
# Данный код защищен авторскими правами
#============================================
RewriteEngine on

ErrorDocument 404 /?mod=pages&act=404

# каптча
RewriteRule ^image.php$ /system/class/captcha.php [L]
# страницы
RewriteRule ^pages/([^/]*)$ /?mod=pages&act=view&url=$1 [L]

# пользователи
RewriteRule ^users/$ /?mod=users&act=view [L]
RewriteRule ^users/login/$ /?mod=users&act=login [L]
RewriteRule ^users/logout/$	/?mod=users&act=logout [L]
RewriteRule ^users/forgot/$ /?mod=users&act=forgot [L]
RewriteRule ^users/forgot/([^/]*)$ /?mod=users&act=forgot&code=$1 [L]
RewriteRule ^users/profile/$ /?mod=users&act=profile [L]
RewriteRule ^users/register/$ /?mod=users&act=register [L]

# проекты
RewriteRule ^projects?$ /?mod=projects&act=view_all [L,QSA]
RewriteRule ^projects/([^/]*)$ /?mod=projects&act=view&url=$1 [L]

# Магазин
RewriteRule ^shop?$ /?mod=shop&act=index [L,QSA]
RewriteRule ^shop/([^/]*)?$ /?mod=shop&act=view_category&url=$1 [L,QSA]
RewriteRule ^shop/view/([^/]*)?$ /?mod=shop&act=product&id=$1 [L,QSA]

# коментарий